table
{
	border: 1px solid black;
	border-collapse: collapse;
	table-layout: fixed;
}

th 
{
	border: 3px solid black;
}



td
{
	border: 1px solid black;
	border-collapse: collapse;
}

#panstwa
{
	font-size: 18px;
	text-decoration: underline;
}